@font-face {
  /* open-sans-regular*/
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/open-sans-v20-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/open-sans-v20-latin_cyrillic-regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  /* open-sans-italic*/
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''), url('../fonts/open-sans-v20-latin_cyrillic-italic.woff2') format('woff2'), url('../fonts/open-sans-v20-latin_cyrillic-italic.woff') format('woff');
  font-display: swap;
}

@font-face {
  /* open-sans-semiBold*/
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('../fonts/open-sans-v20-latin_cyrillic-600.woff2') format('woff2'), url('../fonts/open-sans-v20-latin_cyrillic-600.woff') format('woff');
  font-display: swap;
}

@font-face {
  /* open-sans-Bold*/
  font-family: 'Open Sans';
  /*MullerBold*/
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/open-sans-v20-latin_cyrillic-700.woff2') format('woff2'), url('../fonts/open-sans-v20-latin_cyrillic-700.woff') format('woff');
  font-display: swap;
}

:root {
  /*биб*/
  --swiper-theme-color: transparent;
  /*9.9*/
  --burger-width: 30px;
  --burger-height: 23px;
  --burger-line-height: 2px;
  --color-white: #fff;
  --color-black: #333;
  --color-black-0: #000;
  --color-amethyst: #9d5cd0;
  --color-dustyGray: #999;

  /*В активе и в фокусе у разных элементов*/
  --color-royal-purple: #7943A4;
  --color-heliotrope: #C283F3;
  --color-biloba-flower: #d1a9f0;
  --color-silver: #cacaca;
  --gap: 32px;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  /*Общий шрифт 600*/
  font-weight: 600;
  font-size: 16px;
  color: var(--color-black);
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p,
a {
  /*перенос слов*/
  word-wrap: break-word;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  /*Лупа*/
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.btn {
  /*Общий стиль кнопок*/
  position: relative;
  padding: 16px 33px;
  border: 2px solid var(--color-amethyst);
  border-radius: 100px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-white);
  cursor: pointer;
  transition: background-color .4s ease;
}

/*Не удалять это для файла modalGo.css*/
.modalGo__button {
  margin-top: -1px;
  padding: 8px 37.3px;
  width: max-content;
  color: var(--color-amethyst);
  outline: none;
  transition: background-color .4s ease-in-out, color .4s ease-in-out;
}

.label-hiden {
  /*Лупа инпут*/
  position: absolute;
  left: -101%;
}

.container {
  max-width: 1700px;
  /*1700 не менять*/
  margin-left: auto;
  margin-right: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.padding-bottom {
  padding-bottom: var(--gap);
}

.section-title {
  margin-bottom: 0;
}

.title-h1 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 72px;
  line-height: 82px;
}

.title-h2 {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-black);
}

.title-h3 {
  /*font-family как у body*/
  font-size: 24px;
  line-height: var(--gap);
}

.descr-p {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: var(--gap);
}


/***Шапка***/
.header {
  /*Для header__bottom*/
  position: relative;
  padding: 48px 0 36px;
  background-color: var(--color-black-0);
  z-index: 6;
}

.header__container {
  display: flex;
  align-items: center;
}

/*-Меню T-*/

.header__nav {
  display: flex;  
  /*Добавлен, чтобы при сжимание Войти не заехало на блок*/
  margin-right: 30px;
  /*Для переполнения. Чтобы блок не наезжал на соседа когда семья увеличиться*/
  width: 65%;
  /* flex-grow: 1; ?13.9 */
}

.header__list {
  display: flex;
  /*Для переполнения*/
  flex-wrap: wrap;
  align-items: center;
  /*У ul-ок убираем*/
  margin: 0;
  width: 100%;
}

.header__item:not(:last-child) {
  /*Кроме последнего*/
  margin-right: 4.8%;
}
/*
.header__item:nth-last-child(2) {
  Чтобы блок не переносило на другую строку
  margin-right: 0;
}*/

.header__link {
  position: relative;
  display: inline-block;
  padding: 6px;
  /*Для ховера*/
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: var(--color-white);
  transition: color .4s ease;
}

.header__link:focus {
  background-color: var(--color-royal-purple);
  outline: none;
}

.header__link:hover {
  color: var(--color-heliotrope);
  background-color: inherit;
}

.header__link:active {
  color: var(--color-royal-purple);
}
/***Конец шапки header***/


/*****---main---*****/
.about, .catalog {
  padding-top: 80px;
  padding-bottom: 69px;
}

.about__container, .catalog__container {
  padding-left: 47px;
}

.about__title, .catalog__title {
  margin-top: 0;
  margin-bottom: 17px;
}

.about__descr, .catalog__descr {
  margin: 0;
  width: 67.3%;
  /*56vw; 1074px;*/
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}


/*---Подвал footer---*/
.footer {
  padding: 48px 0 36px;
  background-color: var(--color-black-0);
}

.footer__container {
  display: flex;
}
/*---Конец Подвал footer---*/

